
body {
    font-family: 'Montserrat', sans-serif;
    color : #000099;
  }
  
  aside{
    width : 40%;
    display : inline-block;
  }
  
  main {
    width : 50%;
    vertical-align : top;
    display : inline-block;  

  }
  
  aside img {
    width : 95%;
    border-radius: 9%;
    height: auto;
  }
  main section hr {
    size:100;
    width:100;
      
  }
  h1,h2,h3,h4{
     color: #000099;  
  }
  p{
    color: #525b57
  }
  
  /*mobile only*/
  @media only screen and (max-width: 768px) {
    aside{
      width: 100%;
    }
    main {
      width: 100%;
    }
    aside img {
      height: auto;
    }
  }